{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">PsycheHarmonia</h1>
        <p>Bienvenido al Sitio Web</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Inciar Seccion
            </a>

            <a class="btn btn-secondary" href="/signup/">
                Registrase
            </a>
        </div>
    </section>
</main>

{% endblock %}